.galeria{
    padding: 150px;
    background-color: black;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    justify-content: space-between;

    &__img{ 
        width: 100px;
        height: 100px;
    }
}
.carousel{
    width: 1000px;
    height: 1000px;
    
    &-item{
        width: 700px;
        height: 700px;
        
    
    }
}
