* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-item {
  margin-right: 50px; }

.main {
  background-color: black;
  display: inline-flex;
  padding: 100px;
  height: 100vh; }
  .main__ancor {
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none; }
  .main__imagen {
    display: block;
    width: 200px;
    height: 150px;
    margin: auto; }
  .main__parrafo {
    display: flex;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 20px 50px 20px 50px;
    margin-top: 25px; }

.galeria {
  padding: 150px;
  background-color: black;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  justify-content: space-between; }
  .galeria__img {
    width: 100px;
    height: 100px; }

.carousel {
  width: 1000px;
  height: 1000px; }
  .carousel-item {
    width: 700px;
    height: 700px; }

.nosotros {
  background-color: black;
  display: inline-flex;
  padding: 100px;
  height: 100vh; }
  .nosotros__parrafo {
    display: flex;
    text-align: justify;
    text-overflow: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: white; }

.pedidos {
  background-color: black;
  padding: 100px;
  height: 100vh; }
  .pedidos__pedidos {
    color: white; }
  .pedidos__presupuesto {
    color: white; }

.productos {
  padding: 150px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  justify-content: space-between; }
  .productos__img {
    width: 100px;
    height: 100px; }
  .productos__piedefoto {
    color: white; }

.footer {
  background-color: black;
  display: flex;
  justify-content: end;
  border-top: white solid 9px; }
  .footer__div {
    color: white;
    text-transform: uppercase;
    font-family: Arial; }
  .footer__redes {
    display: none; }
  .footer__img {
    padding-inline-end: 10px;
    width: 50px;
    height: 50px; }
  .footer__inframe {
    width: 120px;
    height: 120px; }

.bi {
  margin-inline-end: 15px; }
  .bi-instagram {
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    width: 35px;
    height: 35px; }
  .bi-facebook {
    color: blue;
    width: 35px;
    height: 35px; }
  .bi-twitter {
    width: 35px;
    height: 35px; }

@media screen and (max-width: 768px) {
  .header__lista {
    flex-wrap: wrap; }
  .header__logo {
    width: 100%; }
  .main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%; }
  .galeria {
    display: flex;
    flex-direction: column;
    gap: 15px; }
  .nosotros {
    flex-direction: column;
    padding: 10px;
    height: 100%; }
  .pedidos {
    flex-direction: column;
    padding: 35px;
    height: 100%; }
  .productos {
    display: flex;
    flex-direction: column;
    gap: 15px; } }

@media screen and (max-width: 375px) {
  .carousel {
    width: 175px;
    height: 175px; }
    .carousel-item {
      width: 100px;
      height: 100px; } }

@media screen and (min-width: 425px) {
  .carousel {
    width: 275px;
    height: 275px; }
    .carousel-item {
      width: 200px;
      height: 200px; } }

@media screen and (min-width: 768px) {
  .carousel {
    width: 600px;
    height: 600px; }
    .carousel-item {
      width: 500px;
      height: 500px; } }

a:hover {
  background-color: silver;
  color: black; }
