*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import"../css/parciales/index";
@import"../css/parciales/galeria";
@import"../css/parciales/nosotros";
@import"../css/parciales/pedidos";
@import"../css/parciales/productos";
@import"../css/parciales/redes";
@import "../css/parciales/queris"; 

