*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    margin-right: 50px;
    
}

.main{
    background-color: black;
    display: inline-flex;
    padding: 100px;
    height: 100vh;
    
    &__ancor{
        color: white;
        padding: 15px;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
     &__imagen{
        display: block;
        width: 200px;
        height: 150px;
        margin: auto;
     }
    &__parrafo{
        display: flex;
        color: white;
        font-family: Arial;
        text-align: center;
        padding: 20px 50px 20px 50px;
        margin-top: 25px;
    }

}



.productos{
    padding: 150px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    justify-content: space-between;
}

@import "../css/parciales/footer";
@import"../css/parciales/redes";

a:hover{
    background-color: silver;
    color: black;
}

@import "../css/parciales/queris"; 